.rccs__card{
  height: 160px;
}

.FunctionOfPart {
  display: inline-flex;
  flex-grow: 3;
  align-items: baseline;
  .InputOfPart {
    width: 100%;
    .InputFieldOfPart {
      width: 100%;
    }
  }
  .LabelOfPart{
    width: 134px;
  }
}
.OptionalPurchase{
  padding: 5px;
  display: flex;
  align-items: baseline;
  padding-bottom: 0px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
  .InputAndButton{
    display: flex;
    justify-content: space-between;
    .InputFieldOptional{
      padding-top:5px;
      input{
        border-radius: 2px;
        border: 1px solid #c4c4c4;
        margin-left: 5px;
        @media (max-width: 600px) {
          margin-left: 0px;
        }
      }
    }
  }
}
.BottomContent{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 3px;
  @media (max-width: 600px) {
    flex-direction: column;
  }

  .HaveTrouble{
    display: flex;
    align-items: flex-end;
  }

  .ButtonSubmit{
    background-color: #dddada;
    box-shadow: 2px 2px 1px #000;
    margin-left: 10px;
  }

  .SummaryButton{
    background-color: #dddada;
    box-shadow: 2px 2px 1px #000;
    width: 192px;
  }
}
