
.property {
  display: flex;
  height: 30px;
  margin: 2px;

  input {
    width: 125px;
  }

  button {
    display: inline;
    padding-top: 2px;
    background-color: rgba(240, 240, 240, 0.85);
    border: none;
  }

  select {
    display: block;
    border-radius: 3px;
    color: #4d4e4e;
    background-color: #dddddd;
    outline: none;
    width: 158px;
  }

}


